<div class="container">
  <div class="button" (click)="changeView()">
    ???
  </div>

  <div class="page-header">Kreator pupila</div>
  <div class="calendar" *ngIf="fullView">
    <div *ngFor="let week of calendar">
      <div class="weeks">
        <div *ngFor="let walkCard of week">
          <div
            [ngClass]="{ 'today': walkCard.day == currentDay.getDay(), 'day': walkCard.day > currentDay.getDay(), 'past-day': walkCard.day < currentDay.getDay() }"
            *ngIf="walkCard.day != -1">
            <div class="date">
              {{walkCard.day | number: '2.0-0'}}
            </div>
            <div class="walks">
              <div class="dog-photo" *ngFor="let dog of walkCard.walkCard" [routerLink]="['/home/dog', dog.dog.id]">
                <!-- {{dog.dog.name}} -->
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

  <div class="week-view" *ngIf="!fullView">
    <div *ngFor="let walkCard of calendar[currentWeek]">
      <div
        [ngClass]="{ 'today': walkCard.day == currentDay.getDay(), 'day': walkCard.day > currentDay.getDay(), 'past-day': walkCard.day < currentDay.getDay() }"
        *ngIf="walkCard.day != -1">
        <div class="date">
          {{walkCard.day | number: '2.0-0'}}
        </div>
        <div class="walks">
          <div *ngFor="let dog of walkCard.walkCard">
            {{dog.dog.name}}
          </div>

          <!-- {{walkCard.walkCard[0]?.dog?.name}} -->
        </div>
      </div>
    </div>
  </div>
</div>
