<div class="container">
  <div class="page-header">Kreator pupila</div>

  <div class="main-container">
    <div class="creator-form">
      <form [formGroup]="dogForm">
        <div class="page-header">Opis twojego zwierzaka</div>
        <div class="dog-photo">

          <div class="avatar">
            <img class="photo" [src]="tempImage" onerror="this.style.display='none'" >
            <img class="photo" [src]="tempImage" style="display: none" onload="this.style.display=''">
          </div>

          <input type="file" (change)="onSelectFile($event)">
        </div>

        <input type="text" formControlName="name" placeholder="Wpisz imię psa" />
        <input type="text" formControlName="dogBreed" placeholder="Wpisz rasę psa" />

        <select formControlName="dogType">
          <option value="" disabled selected>Wybierz wielkość psa</option>
          <option value="SMALL">Mały</option>
          <option value="MEDIUM">Średniu</option>
          <option value="BIG">Duży</option>
          <option value="LARGE">Bardzo duży</option>
        </select>

        <textarea formControlName="characteristic"
          placeholder="Dodaj opis charakteru"></textarea>

        <div class="page-header">Opis spaceru (wymagania, etc)</div>
        <input type="text" formControlName="walkDuration" placeholder="Długość spaceru" />
        <input type="text" formControlName="walkIntensity"
          placeholder="Intensywność spaceru" />

        <textarea formControlName="walkDescription"
          placeholder="Dodatkowe wymagania"></textarea>
        <div [ngClass]="dogForm.valid ? 'button' : 'button-disabled'" (click)="createDog()">
          Dodaj
        </div>
      </form>

      <div class="form-error" *ngIf="checkFieldValidation()">
        <div class="form-error-field">
          Pola wymagane: <br>
          <span *ngIf="name?.errors?.required && isNameInvalid">Nazwa, </span>
            <span *ngIf="dogBreed?.errors?.required && isDogBreedInvalid">Rasa, </span>
            <span *ngIf="dogPhoto?.errors?.required && isDogPhotoInvalid">Zdjęcie, </span>
            <span *ngIf="dogType?.errors?.required && isDogTypeInvalid">Rozmiar, </span>
            <span *ngIf="characteristic?.errors?.required && isCharacteristicInvalid">Opis charakteru, </span>
            <span *ngIf="walkDuration?.errors?.required && isWalkDurationInvalid">Długość spaceru, </span>
            <span *ngIf="walkIntensity?.errors?.required && isWalkIntensityInvalid">Intensywność spaceru, </span>
            <span *ngIf="walkDescription?.errors?.required && isWalkDescriptionInvalid">Opis spaceru </span>

        </div>
        <div class="form-error-field" *ngIf="characteristic?.errors?.maxlength">
          Opis charakteru musi mieć mniej niż 255 znaków
        </div>
        <div class="form-error-field" *ngIf="walkDescription?.errors?.maxlength">
          Opis spaceru musi mieć mniej niż 255 znaków
        </div>
        <div class="form-error-field" *ngIf="walkDuration?.errors?.pattern">
          Nieprawidłowy format czasu trwania spaceru: hh:mm
        </div>

      </div>
    </div>



<ktbz-box-message *ngIf="isMessageBoxVisible" [response]="response" (closeMessageBox)="closeMessageBox($event)">
</ktbz-box-message>


