<div class="container">
  <div class="page-header">Dashboard</div>

  <div class="main-container">
    <div [ngSwitch]="userRole">
      <div class="admin-layout" *ngSwitchCase="role.ROLE_ADMIN">
        <div class="walks">
          <div class="page-header"> Nowe błędy </div>
          <div *ngFor="let report of reports | async">
            <ktbz-report [report]="report" ></ktbz-report>
          </div>
        </div>
        <div class="notification">
          <div class="page-header"> Aktywność </div>
            <div class="activity" *ngFor="let activity of acitvities | async">
              <div class="date"> {{activity.timestamp | date: 'dd/MM/yyyy HH:mm'}}</div>
              <span class="text-1">Użytkownik:</span>
              <span class="text-2"> {{activity.userId}}</span>
              <div></div>
              <span class="text-1">Akcja:</span>
              <span class="text-2"> {{activity.type}}</span>
            </div>
        </div>

      </div>

      <div class="sitter-layout" *ngSwitchCase="role.ROLE_SITTER">
        <div class="walks">
          <div class="page-header">Nadchodzące spacery</div>
          <div *ngFor="let walkCard of incomingWalks | async">

            <div class="row" [routerLink]="['/home/dog', walkCard.dog.id, walkCard.walk.id]">
              <div class="dog">
                <img class="image" [src]="walkCard.dog.dogPhoto">
                <div class="text-1"> {{walkCard.dog.name}} </div>
              </div>
              <div class="text-1"> {{walkCard.walk.city}}</div>
              <div class="text-1">
                {{walkCard.walk.walkDateTime | date:'dd.MM.yyyyr'}}
              </div>
            </div>

          </div>
        </div>

        <div class="notification">
          <div class="page-header">Powiadomienia</div>
            <div *ngFor="let notification of notifications | async">
              <ktbz-notification [notification]="notification"></ktbz-notification>
            </div>
        </div>
      </div>

      <div class="owner-layout" *ngSwitchCase="role.ROLE_OWNER">
        <div class="walks">
          <div class="page-header">Nadchodzące spacery</div>
          <div *ngFor="let walkCard of incomingWalks | async">

            <div class="row" [routerLink]="['/home/dog', walkCard.dog.id, walkCard.walk.id]">
              <div class="dog">
                <img class="image" [src]="walkCard.dog.dogPhoto">
                <div class="text-1"> {{walkCard.dog.name}} </div>
              </div>
              <div class="text-1"> {{walkCard.walk.city}}</div>

              <div *ngIf="walkCard.walk.booked" class="text-2"> Zarezerwowany </div>
              <div *ngIf="!walkCard.walk.booked" class="text-2"> Wolny </div>


              <div class="text-1">
                {{walkCard.walk.walkDateTime | date:'dd.MM.yyyyr'}}
              </div>
            </div>

          </div>
        </div>

        <div class="notification">
          <div class="page-header">Powiadomienia</div>
            <div *ngFor="let notification of notifications | async">
              <ktbz-notification [notification]="notification"></ktbz-notification>
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
