<form>
  <input type="text" placeholder="Imię">
  <input type="text" placeholder="Nazwisko">
  <input type="text" placeholder="Nazwa użytkownika">
  <input type="text" placeholder="Adres e-mail">
  <input type="password" placeholder="Hasło">
  <input type="password" placeholder="Powtórz hasło">
  <input type="date">

  <select >
    <option>Mężczyzna</option>
    <option>Kobieta</option>
  </select>

  <select>
    <option>Właściciel</option>
    <option>Opiekun</option>
  </select>
  <div class="checkbox-group sub-text">
    <input type="checkbox"> Akceptuję regulamin <br>
    <input type="checkbox"> Zapisz mnie do newslettera
  </div>


  <div class="button">Zarejestruj się</div>
</form>
