<div class="container">
  <div class="page-header">
    Twój profil
  </div>

  <div class="main-container">
    <div class="user-info">
      <div class="header">
        {{user?.user?.firstName}} {{user?.user?.lastName}}
        <!-- Amadeusz Janiszyn -->
      </div>
      <div class="user-photo">

      </div>
    </div>
    <div class="container-2">
      <div class="container-3">
        <div class="page-header">
          O mnie
        </div>
      </div>

      <div class="container-3">
        <div class="page-header">
          Galeria
        </div>
      </div>

      <div class="container-3">
        <div class="page-header">
          Opinie
        </div>
      </div>
    </div>
  </div>
</div>
