
<form [formGroup]="registerForm">
  <input type="file" (change)="onSelectFile($event)">
  <div class="row">
    <input type="text" formControlName="firstName" placeholder="Imię">
    <input type="text" formControlName="lastName" placeholder="Nazwisko">
  </div>

  <input type="text" formControlName="username" placeholder="Nazwa użytkownika">
  <input type="text" formControlName="email" placeholder="Adres e-mail">
  <input type="password" formControlName="password" placeholder="Hasło">
  <input type="password" formControlName="confirmPassword" placeholder="Powtórz hasło">
  <input type="text" formControlName="city" placeholder="Miasto">
  <input type="date" formControlName="birthdate">
  <div class="row">
    <select formControlName="gender">
      <option value="" disabled selected>Wybierz płeć</option>
      <option value="MALE">Mężczyzna</option>
      <option value="FEMALE">Kobieta</option>
    </select>

    <select *ngIf="!isAdminRegistration" formControlName="role">
      <option value="" disabled selected>Wybierz role</option>
      <option value="ROLE_OWNER">Właściciel</option>
      <option value="ROLE_SITTER">Opiekun</option>
    </select>
  </div>


  <div class="checkbox-group sub-text">
    <div class="checks">
      <div class="checkbox" [ngStyle]="{'background-color': terms ? '#65858C' : '#fff'}" id="term"
        (click)="checkboxClicked($event)"></div> Akceptuję regulamin
    </div>
    <div class="checks">
      <div class="checkbox" [ngStyle]="{'background-color': subscription ? '#65858C' : '#fff'}" id="subscription"
        (click)="checkboxClicked($event)"></div> Zapisz mnie do newslettera
    </div>

  </div>

  <div [ngClass]="(terms && registerForm.valid)  ? 'button' : 'button-disabled'" (click)="registerUser()">Zarejestruj się</div>
</form>

<ktbz-box-message
*ngIf="isMessageBoxVisible"
[response]="response"
(closeMessageBox)="closeMessageBox($event)"></ktbz-box-message>

<div class="form-error" *ngIf="checkFieldValidation()">
  <div class="form-error-field">
    Pola wymagane: <br>
    <span *ngIf="firstName?.errors?.required && isFirstNameInvalid">Imię, </span>
      <span *ngIf="lastName?.errors?.required && isLastNameInvalid">Nazwisko, </span>
      <span *ngIf="username?.errors?.required && isUsernameInvalid">Nazwa użytkownika, </span>
      <span *ngIf="email?.errors?.required && isEmailInvalid">Adres email, </span>
      <span *ngIf="password?.errors?.required && isPasswordInvalid">Hasło, </span>
      <span *ngIf="confirmPassword?.errors?.required && isConfirmPasswordInvalid">Potwierdzenie hasła, </span>
      <span *ngIf="city?.errors?.required && isCityInvalid">Miasto, </span>
      <span *ngIf="birthdate?.errors?.required && isBirthdateInvalid">Data urodzin, </span>
      <span *ngIf="gender?.errors?.required && isGenderInvalid">Płeć, </span>
      <span *ngIf="role?.errors?.required && isRoleInvalid">Rola uzytkownika, </span>
      <span *ngIf="avatar?.errors?.required && isAvatarInvalid">Avatar, </span>
  </div>
  <div class="form-error-field" *ngIf="username?.errors?.minlength">
    Nazwa uzytkownika musi mieć więcej niż 6 znaków
  </div>
  <div class="form-error-field" *ngIf="username?.errors?.maxlength">
    Nazwa uzytkownika musi mieć mniej niż 20 znaków
  </div>
  <div class="form-error-field" *ngIf="password?.errors?.minlength">
    Hało uzytkownika musi mieć więcej niż 6 znaków
  </div>
  <div class="form-error-field" *ngIf="password?.errors?.maxlength">
    Hasło uzytkownika musi mieć mniej niż 20 znaków
  </div>
  <div class="form-error-field" *ngIf="email?.errors?.pattern">
    Nieprawidłowy format adresu email
  </div>
  <div class="form-error-field" *ngIf="formControl.confirmPassword.errors?.mustMatch">
    Hasła muszą się zgadzać
  </div>

</div>
