<body>
  <div class="app-title">
    <span class="link" (click)="backToLandingPage()">
      Walker
    </span>
  </div>
  <div class="ktbz-container" [ngStyle]="{'justify-content': isMainViewActive ? 'flex-end' : 'center'}">
    <div class="description" *ngIf="isMainViewActive">
      <div class="main-text">
        Drugi najlepszy przyjaciel
        twojego czworonoga!
      </div>

      <div class="sub-text">
        Zapewnij swojemu ukochanemu
        zwierzakowi spacer w momencie,
        kiedy ty nie masz czasu!
      </div>

      <span class="sub-text link" (click)="openRegisterForm()">Dołącz do nas już dziś!</span>

    </div>
    <ktbz-login *ngIf="isMainViewActive"></ktbz-login>

    <div *ngIf="!isMainViewActive" class="width-50">
      <router-outlet>

      </router-outlet>
    </div>
  </div>

  <div class="app-footer">
    <div class="sub-text">
      github.com/Kethableez/Walker <br>
      2021, Amaduesz Janiszyn
    </div>
  </div>

</body>
