body {
  width: 100vw;
  height: 100vh;
  background-image: url("http://localhost:8080/utility_images/background");
  background-size: cover;
  // background-color: #e6e6e6;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 80%;
  width: 100vw;
}

.description {
  width: 33%;
  text-align: center;

  .main-text {
    margin-bottom: 3rem;
    font-size: 2.5rem;
  }

  .sub-text {
    font-size: 1.5rem;
  }
}

ktbz-login {
  width: 33%;
}

.width-50 {
  width: 40%;
}

ktbz-confirmation {
  width: 100%;
}
