<div class="ktbz-container">
  <div class="page-header">Twoje psy</div>
  <div class="main-container">
    <!-- TODO: Dodać kolumne z nadchodzacymi spacerami + badge -->
    <div *ngFor="let dogCard of dogs">
      <div class="dog-card">
        <!-- <div *ngIf="dogCard.walk.booked" class="badge">  </div> -->
        <img class="photo" [src]="dogCard.dog.dogPhoto">
        <div class="card-container">
          <div class="text-1">{{dogCard.dog.name}}</div>
        </div>
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 16 16" [routerLink]="['/home/dog', dogCard.dog.id]">
            <path d="M8 16A8 8 0 1 0 8 0a8 8 0 0 0 0 16zm.93-9.412-1 4.705c-.07.34.029.533.304.533.194 0 .487-.07.686-.246l-.088.416c-.287.346-.92.598-1.465.598-.703 0-1.002-.422-.808-1.319l.738-3.468c.064-.293.006-.399-.287-.47l-.451-.081.082-.381 2.29-.287zM8 5.5a1 1 0 1 1 0-2 1 1 0 0 1 0 2z"/>
          </svg>
      </div>
    </div>
  </div>
</div>
