<div class="ktbz-container">
<div class="page-header">Planer spaceru</div>

<div class="main-container">
  <div class="page-header">Wybierz psa</div>
  <form [formGroup]="walkForm">
    <div class="dog-container" *ngIf="ownerDogs.length !== 0">
      <div *ngFor="let dogCard of ownerDogs">
        <img [ngClass]="dogCard.dog.id === walkForm.get('dogId')?.value ? 'dog-selected' : 'dog'" [src]="dogCard.dog.dogPhoto" (click)="selectDog(dogCard.dog.id)">
      </div>
    </div>
      <div class="dog-container" *ngIf="ownerDogs.length === 0">
        Nie masz żadnych zwierząt.
      </div>

    <div class="page-header">Dodaj informacje</div>
    <input type="datetime-local" formControlName="walkDateTime">
    <input type="text" formControlName="address" placeholder="Wpisz adres spotkania">
    <input type="text" formControlName="city" placeholder="Wpisz miasto spotkania">

    <div class="map">

    </div>
    * zaznacz na mapie miejsce spotkania

    <textarea formControlName="walkDescription" placeholder="Dodaj opcjonalny opis"></textarea>

    <div [ngClass]="walkForm.valid ? 'button' : 'button-disabled'" (click)="createWalk()">
    Dodaj
  </div>
  </form>

  <div class="form-error" *ngIf="checkFieldValidation()">
    <div class="form-error-field">
      Pola wymagane: <br>
      <span *ngIf="address?.errors?.required && isAddressInvalid">Adres, </span>
        <span *ngIf="city?.errors?.required && isCityInvalid">Miasto </span>
        <span *ngIf="walkDateTime?.errors?.required && isWalkDateTimeInvalid">Data i czas </span>

    </div>
    <div class="form-error-field" *ngIf="walkDescription?.errors?.maxlength">
      Opis spaceru musi mieć mniej niż 255 znaków
    </div>

  </div>
</div>
</div>

<ktbz-box-message
  *ngIf="isMessageBoxVisible"
  [response]="response"
  (closeMessageBox)="closeMessageBox($event)">
</ktbz-box-message>
