<div style="text-align: center;">
  <h1>Starting project for <b>Engineer's Thesis</b></h1>
  <h5>Walker is a web app that supports the planning of taking dogs for a walk</h5>
  <hr>
  <div style="text-align: left; margin-left: 30%;">
    <h2>Currently working at: </h2>
    <li>Website mockups</li>
    <li>Database model</li>
    <li>Setup frontend & backend projects</li>
  </div>
  <hr>
  <div>
    Click count: {{clicks}}
    <button (click)="onClick()">Click me!</button>
  </div>

  <div *ngIf="clicks > 100">
    <div>
      Congrats!
      <button (click)="onReset()">Reset</button>
    </div>
  </div>
</div>

