$primaryBrass: #bf9d8a;
$primaryTeal: #65858c;

$secondaryTeal: #99acb1;
$secodnaryDark: #e6e6e6;
$secondaryLight: #f2f2f2;

$primaryDark: #3e403b;
$primaryLight: #ffffff;

$success: #1d861f;
$error: #bb443a;

// Shadow variables
$shadow-inset: inset 0 3px 6px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
$shadow: 0 3px 6px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );

// Fonts
$fontMain: "Century Gothic";
$fontHeaders: "FuturaClassicW01-Bold";

html body {
  padding: 0;
  margin: 0;
  font-family: $fontMain;
  color: $primaryDark;
}

.main-text {
  font-family: $fontMain;
  font-weight: bold;
  color: $primaryDark;
}

.sub-text {
  font-family: $fontMain;
  color: $primaryDark;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}

.link:hover {
  letter-spacing: 0.1rem;
}

.app-title {
  height: 10%;
  font-family: $fontMain;
  font-size: 4rem;
  color: $primaryDark;
  font-variant: small-caps;
  font-weight: bold;
  align-self: center;
  text-align: center;

  .link {
    text-decoration: none;
  }

  .link:hover {
    letter-spacing: normal;
  }
}

.app-footer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sub-text {
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
    font-style: italic;
  }
}

// Forms
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Inputs
input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"],
input[type="time"],
select,
option,
textarea {
  font-family: $fontMain;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 3rem;
  margin-inline: auto;
  width: 70%;
  font-size: 1.5rem;
  background-color: $primaryLight;
  outline: none;
  border: none;
  box-shadow: $shadow-inset;
  text-align: center;
}

textarea {
  height: 4rem;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0.2rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $primaryDark;
  border-radius: 1rem;
}

input[type="file"]::file-selector-button {
  font-family: $fontMain;
  margin-inline: auto;
  margin-right: 2rem;
  width: fit-content;
  padding-inline: 5%;
  height: 3rem;
  background-color: $primaryBrass;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgba($primaryBrass, 0.7);
}
select,
option {
  text-align-last: center;
}

.button {
  font-family: $fontMain;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: auto;
  width: fit-content;
  padding-inline: 10%;
  height: 3rem;
  background-color: $primaryTeal;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}

.button-disabled {
  font-family: $fontMain;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: auto;
  width: fit-content;
  padding-inline: 10%;
  height: 3rem;
  background-color: $primaryTeal;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  opacity: 0.5;
  pointer-events: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}

.button:hover {
  background-color: $secondaryTeal;
}

ktbz-register {
  .button {
    background-color: $primaryBrass;
  }

  .button:hover {
    background-color: $primaryBrass;
  }

  .button-disabled {
    background-color: $primaryBrass;
  }
}

ktbz-page-not-found {
  .code {
    font-weight: bolder;
    font-size: 10rem;
    color: $primaryDark;
  }

  .message {
    font-size: 3rem;
    color: $primaryDark;
  }
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;
}

.checkbox-group {
  margin-inline: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.checks {
  display: flex;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid $secondaryLight;
  box-shadow: $shadow;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-right: 0.5rem;
}

.active {
  background-color: $primaryTeal;
}

.inactive {
  background-color: $secondaryLight;
}

.icon {
  align-self: center;
  fill: $primaryLight;
  width: 2rem;
  height: 2rem;
}

.sidebar-button {
  display: flex;
  background-color: $primaryTeal;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: $secondaryTeal;
  box-shadow: $shadow;
}

.logout-button {
  display: flex;
  background-color: #bf9d8a;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
  box-shadow: $shadow;
}

.logout-button:hover {
  background-color: #e2cec2;
  box-shadow: $shadow;
}

ktbz-box-message {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: fit-content;

  .success {
    background-color: $success;
  }

  .error {
    background-color: $error;
  }

  .box {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    flex-direction: row;
    max-width: 20rem;
    min-width: 15rem;
    justify-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: $shadow;

    .message {
      padding-inline: 0.5rem;
      justify-self: center;
      align-self: center;
      color: white;
      margin: auto;
      text-align: justify;
      font-weight: bold;
    }

    .icon {
      margin-inline: 0.5rem;
      justify-self: center;
      align-self: center;
      text-align: center;
      font-size: 1.5rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

.tooltip {
  position: relative;
  .tooltiptext {
    font-family: "Century Gothic";
    color: #fff;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: $primaryDark;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0.125rem;
    left: 3.7rem;
  }
}

.tooltiptext {
  transition: opacity 0.2s ease;
}
.tooltip:hover {
  .tooltiptext {
    opacity: 1;
    visibility: visible;
  }
}

.page-header {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid $primaryDark;
}

.form-header {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid $primaryDark;
}

ktbz-dashboard {
}

ktbz-dog-creator {
  .container {
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
    background-color: $secondaryLight;
  }

  .main-container {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .creator-form {
    width: 45%;
    margin: 1rem;

    form {
      width: 60%;
      margin-inline: auto;
    }

    .page-header {
      font-size: 1rem;
      padding: .5rem;
    }

    input[type="text"],
    input[type="file"],
    input[type="time"] {
      width: 100%;
      height: 2rem;
      font-size: 1rem;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      box-shadow: $shadow;
    }

    textarea {
      width: 100%;
      height: 5rem;
      font-size: 1rem;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      box-shadow: $shadow;
    }

    input[type="file"]::file-selector-button {
      padding-inline: 5%;
      height: 2rem;
      font-size: 1rem;
      box-shadow: $shadow;
    }

    .button {
      background-color: $primaryBrass;
    }

    .button:hover {
      background-color: rgba($primaryBrass, .5);
    }
  }

  .dog-card {
    background-color: $primaryLight;
    position: relative;
    box-shadow: $shadow;
    border-radius: 5px;
    width: 45%;
    margin: 1rem;

    .dog-photo {
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-color: #3e403b;
      border-radius: 100rem;
      left: 2rem;
      top: 2rem;
    }

    .dog-header {
      background-color: $primaryBrass;
      color: $primaryLight;
      font-weight: bold;
      font-size: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center;
      margin-bottom: 5rem;
      min-height: 4rem;
    }
    .text-1 {
      font-weight: bold;
      margin: 1rem 2rem;
      font-size: 1.5rem;
    }
    .text-2 {
      margin-inline: 2rem;
      font-size: 1rem;
    }
    .icon {
      fill: $primaryDark;
    }
  }
}

ktbz-profile {
  .main-container {
    display: flex;
    margin-inline: auto;
    width: 97%;
    height: 48.5rem;
    align-content: center;
    align-items: center;
  }

  .profile-info {
    width: 15.5rem;
    height: 95%;
    background-color: $primaryLight;
    box-shadow: $shadow;
    border-radius: 5px;

    .user-name {
      border-radius: 5px 5px 0 0;
      background-color: $primaryBrass;
      color: $primaryLight;
      text-align: center;
      font-weight: bold;
      font-size: 1.5rem;
      padding-top: 1rem;
      padding-bottom: 1rem;
    }

    .user-avatar {
      width: 15.5rem;
      height: 15.5rem;
      background-color: #000000;
    }
  }
}
