$primaryBrass: #bf9d8a;
$primaryTeal: #65858c;

$secondaryTeal: #99acb1;
$secodnaryDark: #e6e6e6;
$secondaryLight: #f2f2f2;

$primaryDark: #3e403b;
$primaryLight: #ffffff;

$success: #1d861f;
$error: #bb443a;

// Shadow variables
$shadow-inset: inset 0 3px 6px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
$shadow: 0 3px 6px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );

// Fonts
$fontMain: "Century Gothic";
$fontHeaders: "FuturaClassicW01-Bold";

// Body
html body {
  padding: 0;
  margin: 0;
  font-family: $fontMain;
  color: $primaryDark;
}

.main-text {
  font-family: $fontMain;
  font-weight: bold;
  color: $primaryDark;
}

.sub-text {
  font-family: $fontMain;
  color: $primaryDark;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}

.link:hover {
  letter-spacing: 0.1rem;
}

.app-title {
  height: 10%;
  font-family: $fontMain;
  font-size: 4rem;
  color: $primaryDark;
  font-variant: small-caps;
  font-weight: bold;
  align-self: center;
  text-align: center;

  .link {
    text-decoration: none;
  }

  .link:hover {
    letter-spacing: normal;
  }
}

.app-footer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sub-text {
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
    font-style: italic;
  }
}

// FORMS
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// INPUTS
input[type="text"],
input[type="password"],
input[type="date"],
input[type="file"],
input[type="time"],
input[type="datetime-local"],
select,
option,
textarea {
  font-family: $fontMain;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 3rem;
  margin-inline: auto;
  width: 70%;
  font-size: 1.5rem;
  background-color: $primaryLight;
  outline: none;
  border: none;
  box-shadow: $shadow-inset;
  text-align: center;
}

textarea {
  height: 4rem;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0.2rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $primaryDark;
  border-radius: 1rem;
}

input[type="file"]::file-selector-button {
  font-family: $fontMain;
  margin-inline: auto;
  margin-right: 2rem;
  width: fit-content;
  padding-inline: 5%;
  height: 3rem;
  background-color: $primaryBrass;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgba($primaryBrass, 0.7);
}
select,
option {
  text-align-last: center;
}

.button {
  font-family: $fontMain;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: auto;
  width: fit-content;
  padding-inline: 10%;
  height: 3rem;
  background-color: $primaryTeal;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}

.button-disabled {
  font-family: $fontMain;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: auto;
  width: fit-content;
  padding-inline: 10%;
  height: 3rem;
  background-color: $primaryTeal;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  opacity: 0.5;
  pointer-events: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}

.button:hover {
  background-color: $secondaryTeal;
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;
}

.checkbox-group {
  margin-inline: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.checks {
  display: flex;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid $secondaryLight;
  box-shadow: $shadow;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-right: 0.5rem;
}

.active {
  background-color: $primaryTeal;
}

.inactive {
  background-color: $secondaryLight;
}

// LANDING
ktbz-register {
  .button {
    background-color: $primaryBrass;
  }

  .button:hover {
    background-color: $primaryBrass;
  }

  .button-disabled {
    background-color: $primaryBrass;
  }
}

// SIDEBAR
.icon {
  align-self: center;
  fill: $primaryLight;
  width: 2rem;
  height: 2rem;
}

.sidebar-button {
  display: flex;
  background-color: $primaryTeal;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
}

.sidebar-button:hover {
  background-color: $secondaryTeal;
  box-shadow: $shadow;
}

.logout-button {
  display: flex;
  background-color: #bf9d8a;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
  box-shadow: $shadow;
}

.logout-button:hover {
  background-color: #e2cec2;
  box-shadow: $shadow;
}

.tooltip {
  position: relative;
  .tooltiptext {
    font-family: "Century Gothic";
    color: #fff;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: $primaryDark;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0.125rem;
    left: 3.7rem;
  }
}

.tooltiptext {
  transition: opacity 0.2s ease;
}
.tooltip:hover {
  .tooltiptext {
    opacity: 1;
    visibility: visible;
  }
}

// SHARED
.page-header {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid $primaryDark;
}

.form-header {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid $primaryDark;
}

ktbz-box-message {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: fit-content;

  .success {
    background-color: $success;
  }

  .error {
    background-color: $error;
  }

  .box {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    flex-direction: row;
    max-width: 20rem;
    min-width: 15rem;
    justify-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: $shadow;

    .message {
      padding-inline: 0.5rem;
      justify-self: center;
      align-self: center;
      color: white;
      margin: auto;
      text-align: justify;
      font-weight: bold;
    }

    .icon {
      margin-inline: 0.5rem;
      justify-self: center;
      align-self: center;
      text-align: center;
      font-size: 1.5rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

ktbz-page-not-found {
  .code {
    font-weight: bolder;
    font-size: 10rem;
    color: $primaryDark;
  }

  .message {
    font-size: 3rem;
    color: $primaryDark;
  }
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

ktbz-dashboard {
}

ktbz-profile {
  .main-container {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .user-info {
    width: 15.6rem;
    height: 100%;
    background-color: $primaryLight;
    box-shadow: $shadow;
    border-radius: 5px;

    .header {
      text-align: center;
      background-color: $primaryBrass;
      box-shadow: $shadow;
      border-radius: 5px 5px 0 0 ;
      color: $primaryLight;
      font-weight: bold;
      font-size: 2rem;
      padding: 1rem .5rem;
    }
    .user-photo {
      width: 15.6rem;
      height: 15.6rem;
      background-color: $primaryDark;
      box-shadow: $shadow;
      border-radius: 0 0 5px 5px;
    }
  }

  .container-2 {
    height: 100%;
    flex-grow: .98;
    border-radius: 5px;
    display: flex;
    flex-flow: column;

    .container-3 {
      flex-grow: 1;

      .page-header {
        font-size: 1.5rem;
        padding: .5rem;
      }
    }
  }
}

// OWNER
ktbz-dog-creator {

  .main-container {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .creator-form {
    width: 45%;
    margin: 1rem;

    form {
      width: 60%;
      margin-inline: auto;
    }

    .page-header {
      font-size: 1rem;
      padding: 0.5rem;
    }

    input[type="text"],
    input[type="file"],
    input[type="time"],
    select,
    option {
      width: 100%;
      height: 2rem;
      font-size: 1rem;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      box-shadow: $shadow;
    }

    textarea {
      width: 100%;
      height: 5rem;
      font-size: 1rem;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;
      box-shadow: $shadow;
    }

    input[type="file"]::file-selector-button {
      padding-inline: 5%;
      height: 2rem;
      font-size: 1rem;
      box-shadow: $shadow;
    }

    .button {
      background-color: $primaryBrass;
    }

    .button-disabled {
      background-color: rgba($primaryBrass, 0.7);
    }

    .button:hover {
      background-color: rgba($primaryBrass, 0.5);
    }
  }

  .dog-card {
    background-color: $primaryLight;
    position: relative;
    box-shadow: $shadow;
    border-radius: 5px;
    width: 45%;
    margin: 1rem;

    .dog-photo {
      position: absolute;
      width: 10rem;
      height: 10rem;
      background-color: #3e403b;
      border-radius: 100rem;
      left: 2rem;
      top: 2rem;
    }

    .dog-header {
      background-color: $primaryBrass;
      color: $primaryLight;
      font-weight: bold;
      font-size: 3rem;
      padding-top: 2rem;
      padding-bottom: 2rem;
      text-align: center;
      margin-bottom: 5rem;
      min-height: 4rem;
      border-radius: 5px;
      box-shadow: $shadow;
    }
    .text-1 {
      font-weight: bold;
      margin: 1rem 2rem;
      min-height: 1.5rem;
      font-size: 1.5rem;
    }
    .text-2 {
      margin-inline: 2rem;
      min-height: 1rem;
      font-size: 1rem;
    }
    .icon {
      fill: $primaryDark;
    }
  }
}

ktbz-walk-planner {
  .container {
    width: 40%;
    margin-inline: auto;

    .page-header {
      font-size: 1rem;
      padding: 0.5rem;
    }

    .map {
      width: 100.5%;
      background-color: $primaryLight;
      border-radius: 5px;
      box-shadow: $shadow;
      height: 12rem;
    }
  }

  .dog-container {
    display: flex;
    flex-flow: row;
  }

  input[type="text"],
  input[type="datetime-local"] {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    box-shadow: $shadow;
  }

  textarea {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    box-shadow: $shadow;
  }

  .button {
    background-color: $primaryBrass;
  }

  .button-disabled {
    background-color: rgba($primaryBrass, 0.7);
  }

  .button:hover {
    background-color: rgba($primaryBrass, 0.5);
  }

  .dog {
    margin: 0.25rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba($primaryBrass, 0.7);
    border-radius: 6rem;
    cursor: pointer;
    transition: 0.5s ease;
  }
  .dog:hover {
    background-color: rgba($primaryBrass, 1);
  }

  .dog-selected {
    margin: 0.25rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba($primaryBrass, 1);
    border-radius: 6rem;
    cursor: pointer;
    transition: 0.5s ease;
  }
}

// SITTER
ktbz-dog-walks {
  .container {
    position: relative;
    .button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin: 0;
      // width: 1%;
      height: 2.5rem;
      padding: 0 .5rem;
    }
  }

  .all-view,
  .incoming-view {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row wrap;
    overflow-y: auto;
    justify-content: space-around;
  }

  .all-view::-webkit-scrollbar {
    width: 0.2rem;
  }

  .all-view::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }

  .incoming-view::-webkit-scrollbar {
    width: 0.2rem;
  }

  .incoming-view::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }

  .dog-card {
    position: relative;
    margin: 0.5rem;
    width: 30rem;
    background-color: $primaryLight;
    border-radius: 5px;
    box-shadow: $shadow;

    .dog-photo {
      position: absolute;
      width: 6rem;
      height: 6rem;
      background-color: #1d861f;
      left: 0.5rem;
      top: 0.5rem;
      border-radius: 10rem;
    }

    .header {
      background-color: $primaryBrass;
      padding: 1rem 0.5rem;
      margin-bottom: 2rem;
      text-align: center;
      color: $primaryLight;
      font-weight: bold;
      font-size: 2rem;
      border-radius: 5px 5px 0 0;
    }

    .text-1 {
      font-weight: bold;
      font-size: 1.2rem;
      margin: 0.25rem 0.5rem;
    }

    .text-2 {
      margin: 0.25rem 0.5rem;
      text-align: justify;
    }

    .buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      padding-bottom: 0.5rem;

      .icon {
        cursor: pointer;
        width: 2rem;
        height: 2rem;
      }
    }

    .icon {
      fill: $primaryDark;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

ktbz-planner {

  .container {
    position: relative;
    .button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin: 0;
      // width: 1%;
      height: 2.5rem;
      padding: 0 .5rem;
    }
  }


  .calendar {
    flex-grow: 1;
    margin: 1rem;
    display: grid;
  }

  .weeks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .week-view {
    flex-grow: 1;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .date {
      width: 100%;
      background-color: $primaryBrass;
      color: $primaryLight;
      font-weight: bold;
      text-align: center;
      border-radius: 5px 5px 0 0;
    }

    .day {
      height: auto;
      display: flex;
      margin: 0.5rem;
      flex-flow: column;
      box-shadow: $shadow;
      border-radius: 5px;
    }

    .today {
      margin: 0.5rem;
      box-shadow: $shadow;
      border-radius: 5px;

      .date {
        background-color: $primaryTeal;
      }
    }

    .past-day {
      margin: 0.5rem;
      box-shadow: $shadow;
      opacity: 0.5;
      border-radius: 5px;
    }

    .walks {
      flex-grow: 1;
    }
  }

  .dog-photo {
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    background-color: #3e403b;
    border-radius: 4rem;
  }

  .date {
    background-color: $primaryBrass;
    color: $primaryLight;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }

  .walks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    justify-content: center;
    background-color: $primaryLight;
    height: 5rem;
    border-radius: 0 0 5px 5px;
  }

  .walks::-webkit-scrollbar {
    height: 0.2rem;
  }

  .walks::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }

  .day {
    margin: 0.5rem;
    box-shadow: $shadow;
    border-radius: 5px;
  }

  .today {
    margin: 0.5rem;
    box-shadow: $shadow;
    border-radius: 5px;

    .date {
      background-color: $primaryTeal;
    }
  }

  .past-day {
    margin: 0.5rem;
    box-shadow: $shadow;
    opacity: 0.5;
    border-radius: 5px;
  }
}

// ADMIN
