$primaryBrass: #bf9d8a;
$primaryTeal: #65858c;

$secondaryTeal: #99acb1;
$secondaryDark: #e6e6e6;
$secondaryLight: #f2f2f2;

$primaryDark: #3e403b;
$primaryLight: #ffffff;

$success: #1d861f;
$error: #bb443a;

// Shadow variables
$shadow-inset: inset 0 3px 6px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );
$shadow: 0 3px 6px
  rgba(
    $color: #000000,
    $alpha: 0.2,
  );

$shadowText: 0 0 6px $primaryDark;
// Fonts
$fontMain: "Century Gothic";
$fontHeaders: "FuturaClassicW01-Bold";

// Body
html body {
  padding: 0;
  margin: 0;
  font-family: $fontMain;
  color: $primaryDark;
}

.main-text {
  font-family: $fontMain;
  font-weight: bold;
  color: $primaryDark;
}

.sub-text {
  font-family: $fontMain;
  color: $primaryDark;
}

.link {
  text-decoration: underline;
  cursor: pointer;
  transition: 0.2s ease;
}

.link:hover {
  letter-spacing: 0.1rem;
}

.app-title {
  height: 10%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  // font-family: $fontMain;
  font-style: italic;
  font-size: 4rem;
  color: $primaryDark;
  // font-variant: small-caps;
  font-weight: bold;
  align-self: center;
  text-align: center;

  .link {
    text-decoration: none;
  }

  .link:hover {
    letter-spacing: normal;
  }
}

bar-rating {
  color: $primaryBrass !important;
  .br-unit {
    width: 3rem !important;
    font-size: 3rem !important;
    .br-default .br-selected:after {
      color: $primaryBrass !important;
    }

  }

  width: 10rem;
  height: 5rem;
  fill: $primaryBrass;
  color: $primaryBrass;
}

.app-footer {
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;

  .sub-text {
    font-size: 1.2rem;
    align-self: center;
    text-align: center;
    font-style: italic;
  }
}

ktbz-landing-page {
  body {
    width: 100vw;
    height: 100vh;
    background-image: url("./assets/walker-background.png");
    background-size: cover;
    // background-color: #e6e6e6;
  }

  .container {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 80%;
    width: 100vw;
  }

  .description {
    width: 33%;
    text-align: center;

    .main-text {
      margin-bottom: 3rem;
      font-size: 2.5rem;
    }

    .sub-text {
      font-size: 1.5rem;
    }
  }

  ktbz-login {
    width: 33%;
  }

  .width-50 {
    width: 40%;
  }

  ktbz-confirmation {
    width: 100%;
  }
}

// FORMS
form {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// INPUTS
input[type="text"],
input[type="password"],
input[type="date"],
input[type="time"],
input[type="datetime-local"],
select,
option,
textarea {
  font-family: $fontMain;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 2.5rem;
  margin-inline: auto;
  width: 70%;
  font-size: 1.25rem;
  background-color: $primaryLight;
  outline: none;
  border: none;
  box-shadow: $shadow-inset;
  text-align: center;
}

textarea {
  height: 4rem;
  resize: none;
}

textarea::-webkit-scrollbar {
  width: 0.2rem;
}

textarea::-webkit-scrollbar-thumb {
  background-color: $primaryDark;
  border-radius: 1rem;
}

input[type="file"] {
  font-family: $fontMain;
  border-radius: 5px;
  margin-top: 1%;
  margin-bottom: 1%;
  height: 2.5rem;
  margin-inline: auto;
  width: 70%;
  font-size: 1.25rem;
  background-color: $primaryLight;
  outline: none;
  border: none;
  box-shadow: $shadow-inset;
  text-align: center;
}

input[type="file"]::file-selector-button {
  font-family: $fontMain;
  margin-inline: auto;
  margin-right: 2rem;
  width: fit-content;
  padding-inline: 5%;
  height: 2.5rem;
  background-color: $primaryBrass;
  font-size: 1.25rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;
}

input[type="file"]::file-selector-button:hover {
  background-color: rgba($primaryBrass, 0.7);
}

select,
option {
  text-align-last: center;
}

.button {
  font-family: $fontMain;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: auto;
  width: fit-content;
  padding-inline: 5%;
  height: 2.5rem;
  background-color: $primaryTeal;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  cursor: pointer;
  user-select: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}

.button-disabled {
  font-family: $fontMain;
  margin-top: 3%;
  margin-bottom: 3%;
  margin-inline: auto;
  width: fit-content;
  padding-inline: 5%;
  height: 2.5rem;
  background-color: $primaryTeal;
  font-size: 1.5rem;
  color: $primaryLight;
  outline: none;
  border: none;
  border-radius: 5px;
  box-shadow: $shadow;
  transition: 0.3s;
  opacity: 0.5;
  pointer-events: none;

  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 0.2%;
  padding-bottom: 0.2%;
}

.button:hover {
  background-color: $secondaryTeal;
}

.button:active {
  box-shadow: none;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
  user-select: none;
}

.checkbox-group {
  margin-inline: auto;
  width: 70%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.checks {
  display: flex;
  margin-top: 0.5rem;
  margin-top: 0.5rem;
}

.checkbox {
  width: 1rem;
  height: 1rem;
  border: 2px solid $secondaryLight;
  box-shadow: $shadow;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.2s ease;
  margin-right: 0.5rem;
}

.active {
  background-color: $primaryTeal;
}

.inactive {
  background-color: $secondaryLight;
}

// LANDING
ktbz-register {
  .button {
    background-color: $primaryBrass;
  }

  .button:hover {
    background-color: $primaryBrass;
  }

  .button-disabled {
    background-color: $primaryBrass;
  }

  .row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 70%;
    margin: 0 auto;

    input[type="text"], select {
      width: 48%;
      margin-inline: 0;
    }
  }

  .form-error {
    position: absolute;
    padding: 1rem;
    right: 1rem;
    bottom: 1rem;
    width: 20rem;
    height: fit-content;
    background-color: $error;
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    border-radius: 5px;
  }
  .form-error-field {
    margin: .5rem 0;
    font-weight: bold;
    color: $primaryLight;
  }
}

// SIDEBAR
ktbz-sidebar {
  .sidebar {
    display: grid;
    grid-template-rows: 1fr 1fr 1fr 0.2fr 1fr;
    width: 4.5rem;
    height: 99.5vh;
    background-color: #65858c;
    padding-top: 0.25vh;
    padding-bottom: 0.25vh;

    hr {
      border: 1px solid #99acb1;
    }
  }

  .logo {
    background: url("./assets/walker-logo.png");
    background-size: cover;
    margin-inline: 0.25rem;
    width: 4rem;
    height: 4rem;
  }

  .avatar {
    margin-inline: 0.5rem;
    width: 3.5rem;
    height: 3.5rem;
    background-color: aliceblue;
    border-radius: 5px;
    object-fit: cover;
  }

  .logout-button {
    display: flex;
    background-color: #bf9d8a;
    height: 2.5rem;
    width: 3rem;
    border-radius: 5px;
    margin-inline: auto;
    margin-top: 2rem;
    margin-bottom: 2rem;
    justify-content: center;
    transition: 0.2s ease;
    cursor: pointer;
  }

  .logout-button:hover {
    background-color: #e2cec2;
  }

  .repo {
    display: flex;
    justify-content: center;
    margin-top: 1rem;
  }
}

.icon {
  align-self: center;
  fill: $primaryLight;
  width: 2rem;
  height: 2rem;
}

.sidebar-button {
  display: flex;
  background-color: $primaryTeal;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
}

ktbz-dashboard {
  .main-container {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;

    .admin-layout {
      display: flex;
      flex-direction: row;
      justify-content: space-around;
      align-items: center;

      .box {
        display: flex;
        flex-flow: column;
        justify-content: space-between;
        margin: .5rem;
        width: 20rem;
        height: 40rem;
        background-color: $primaryLight;
        border-radius: 5px;
        box-shadow: $shadow;
        .box-body {
          margin: .5rem;
        }

        .page-header {
          font-size: 1.3rem;
          padding: .5rem;
        }

        .button {
          padding: .5rem;

          .icon {
            width: 3rem;
            height: 3rem;
            fill: $primaryLight;
          }
        }
      }
    }
  }

}

ktbz-users {
  .main-container {
    overflow-y: scroll;
  }

  .main-container::-webkit-scrollbar {
    width: 1rem;
  }

  .main-container:-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }

  .row {
    margin: .5rem 2rem;
    padding: .5rem 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid $primaryDark;
    user-select: none;

    .image {
      border-radius: 5px;
      width: 5rem;
      height: 5rem;
      object-fit: cover;

    }

    .text-1 {
      font-size: 1.5rem;
      font-weight: bold;
      width: 15rem;
      text-align: center;
    }

    .badge {
      font-family: "Trebuchet MS";
      text-shadow: $shadow;
      // bottom: 1rem;
      // right: 1rem;
      // position: absolute;
      height: fit-content;
      padding: 0 0.3rem;
      border: 3px solid $primaryTeal;
      width: fit-content;
      border-radius: 5px;
      color: $primaryTeal;
      // font-weight: 00;
    }

    .action-buttons {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      align-items: center;
      .icon {
        margin: 0 .25rem;
        width: 1.7rem;
        height: 1.7rem;
        fill: $primaryDark;
        cursor: pointer;
        outline: none;
        transition: 0.2s ease;
      }
      .icon:hover {
        fill: $primaryTeal;
      }

      .icon-block {
        margin: 0 .25rem;
        width: 1.7rem;
        height: 1.7rem;
        fill: $primaryDark;
        cursor: pointer;
        transition: 0.2s ease;
      }
      .icon-block:hover {
        fill: $error;
      }
      .icon-ban {
        // margin: 0 .15rem;
        width: 2.3rem;
        height: 2.3rem;
        fill: $primaryDark;
        cursor: pointer;
        transition: 0.2s ease;
      }
      .icon-ban:hover {
        fill: $error;
      }
    }
  }
}

.sidebar-button:hover {
  background-color: $secondaryTeal;
  box-shadow: $shadow;
}

.logout-button {
  display: flex;
  background-color: #bf9d8a;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  transition: 0.2s ease;
  cursor: pointer;
  box-shadow: $shadow;
}

.logout-button:hover {
  background-color: #e2cec2;
  box-shadow: $shadow;
}

.tooltip {
  position: relative;
  .tooltiptext {
    font-family: "Century Gothic";
    color: #fff;
    visibility: hidden;
    opacity: 0;
    width: max-content;
    background-color: $primaryDark;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 0.5rem 0.5rem;

    /* Position the tooltip */
    position: absolute;
    z-index: 1;
    top: 0.125rem;
    left: 3.7rem;
  }
}

.tooltiptext {
  transition: opacity 0.2s ease;
}
.tooltip:hover {
  .tooltiptext {
    opacity: 1;
    visibility: visible;
  }
}

//

ktbz-owner-dogs {
  .dog-card {
    position: relative;
    margin: auto;
    width: 20rem;
    height: 7rem;
    background-color: $primaryBrass;
    border-radius: 5px;
    box-shadow: $shadow;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    align-items: center;
    margin: 1rem;

    .card-container {
      text-align: center;
      color: $primaryLight;
    }

    .photo {
      width: 5rem;
      height: 5rem;
      box-shadow: $shadow;
      border-radius: 10rem;
      object-fit: cover;
    }

    .text-1 {
      font-size: 2rem;
      font-weight: bold;
    }

    .text-2 {
      font-size: 1.5rem;
    }

    .icon {
      width: 2rem;
      height: 2rem;
      fill: $primaryLight;
      transition: 0.2s ease;
      cursor: pointer;
    }

    .icon:hover {
      fill: $primaryDark;
    }
  }

  .badge {
    font-family: "Trebuchet MS";
    text-shadow: $shadow;
    bottom: 1rem;
    right: 1rem;
    position: absolute;
    padding: 0 0.3rem;
    border: 3px solid $primaryLight;
    width: fit-content;
    border-radius: 5px;
    color: $primaryLight;
    // font-weight: 00;
  }
}

ktbz-history {
  .main-container {
    width: 80%;
    // background-color: #1d861f;
    margin: 0 auto;

    .text-1 {
      font-size: 1.5rem;
      font-weight: bold;
    }

    .text-2 {
      width: 15rem;
      text-align: center;
    }

    .image {
      margin: 0 1rem;
      width: 5rem;
      height: 5rem;
      box-shadow: $shadow;
      border-radius: 5px;
      object-fit: cover;
    }

    .page-header {
      font-size: 1.3rem;
      padding: 0.5rem;
      font-weight: unset;
      display: flex;
      justify-content: space-between;
    }

    .row,
    .dog,
    .sitter {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }

    .dog,
    .date,
    .actions,
    .sitter {
      text-align: center;
      width: 15rem;
    }

    .row {
      border-bottom: 1px solid $primaryDark;
      padding: 0.5rem 0;
    }

    .actions {
      display: flex;
      justify-content: space-around;
      align-items: center;
    }

    .icon {
      width: 2rem;
      height: 2rem;
      // margin: 0 rem;
      cursor: pointer;
    }
  }
}

ktbz-home-page {
  body {
    background-color: #e6e6e6;
    width: 100vw;
    height: 100vh;
  }

  .home-container {
    display: flex;
  }

  .page {
    align-self: center;
    background-color: #f2f2f2;
    border-radius: 5px;
    height: 87vh;
    width: 84vw;
    margin-inline: 8vw;
    box-shadow: 0 3px 6px rgba($color: #000000, $alpha: 0.2);
  }

  .report {
    position: absolute;
    bottom: 1rem;
    right: 1rem;

    .icon {
      width: 2rem;
      height: 2rem;
      fill: $primaryDark;
      cursor: pointer;
    }
  }


}

// SHARED

.page-header {
  font-weight: bold;
  font-size: 2rem;
  padding: 1rem;
  border-bottom: 1px solid $primaryDark;
}

.form-header {
  font-weight: bold;
  font-size: 1rem;
  padding: 0.5rem;
  border-bottom: 1px solid $primaryDark;
}

ktbz-box-message {
  position: fixed;
  right: 1rem;
  bottom: 1rem;
  width: fit-content;

  .success {
    background-color: $success;
  }

  .error {
    background-color: $error;
  }

  .box {
    display: flex;
    padding: 1rem 0.5rem;
    border-radius: 5px;
    flex-direction: row;
    max-width: 20rem;
    min-width: 15rem;
    justify-items: center;
    align-content: center;
    justify-content: center;
    box-shadow: $shadow;

    .message {
      padding-inline: 0.5rem;
      justify-self: center;
      align-self: center;
      color: white;
      margin: auto;
      text-align: justify;
      font-weight: bold;
    }

    .icon {
      margin-inline: 0.5rem;
      justify-self: center;
      align-self: center;
      text-align: center;
      font-size: 1.5rem;
      color: white;
      font-weight: bold;
      cursor: pointer;
    }
  }
}

ktbz-modal {
  .modal {
    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    justify-content: center;
    align-items: center;

    width: 100vw;
    height: 100vh;
    background-color: rgba($primaryDark, 0.5);

    .form {
      background-color: $secondaryLight;
      width: fit-content;
      height: fit-content;
      border-radius: 5px;
      padding-bottom: 1rem;

      .ktbz-data-form {
        form {
          width: 20rem;
        }
      }

      .ktbz-description-form {
        form {
          width: 20rem;
        }
      }

      input {
        width: 90%;
        margin: 2% auto;
        box-shadow: $shadow;
      }

      textarea {
        width: 90%;
        height: 10rem;
        margin: 2% auto;
        box-shadow: $shadow;
      }

      .button {
        margin: 2% auto;
      }
      .button-disabled {
        margin: 2% auto;
      }

      .form-header {
        min-width: 25rem;
        position: relative;
        font-size: 1.2rem;
        font-weight: bold;
        padding: 1rem;
        border-bottom: 1px solid $primaryDark;

        .icon {
          width: 2rem;
          height: 2rem;
          fill: $primaryDark;
          cursor: pointer;
          position: absolute;
          // bottom: .5rem;
          bottom: .75rem;
          right: .2rem;
        }
      }
    }
  }
}

ktbz-page-not-found {
  .code {
    font-weight: bolder;
    font-size: 10rem;
    color: $primaryDark;
  }

  .message {
    font-size: 3rem;
    color: $primaryDark;
  }
}

.container {
  display: flex;
  flex-flow: column;
  width: 100%;
  height: 100%;
}

ktbz-profile {
  .main-container {
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
  }

  .profile-column {
    position: relative;
    width: 20rem;
    display: flex;
    flex-flow: column;
    justify-content: start;
    align-items: center;

    .buttons {
      position: absolute;
      bottom: 0;
      width: 90%;
      text-align: center;

      .icon {
        width: 1.5rem;
        height: 1.5rem;
      }
    }
    .photo {
      width: 15rem;
      height: 15rem;
      position: relative;

      .icon {
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        visibility: hidden;
      }

      .profile-photo {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 5px;
        box-shadow: $shadow;
      }
    }
    .photo:hover {
      .icon {
        visibility: visible;
      }
    }

    .data-editable {
      width: 15rem;
      position: relative;
      border-bottom: 1px solid $primaryDark;

      .icon-edit {
        width: 1.2rem;
        height: 1.2rem;
        fill: $primaryDark;
        cursor: pointer;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        visibility: hidden;
      }
    }

    .data-editable:hover {
     .icon-edit {
        visibility: visible;
      }
    }


    .icon {
      width: 1.2rem;
      height: 1.2rem;
      fill: $primaryDark;
      cursor: pointer;
    }

    .text-2 {
      margin: .2rem 0;
      font-style: italic;
      color: $primaryDark;
      font-size: 1.2rem;
      display: flex;
      flex-flow: row;
      justify-content: center;
      align-items: center;

    }

    .text-1 {
      margin: .2rem 0;
      text-align: center;
      font-weight: bold;
      font-size: 1.3rem;
    }

    .rating {
      color: $primaryBrass;
      font-size: 2rem;
    }

    .statistic {
      display: flex;
      flex-flow: column;
      width: 90%;
      .text-1 {
        font-weight: normal;
        font-size: 1rem;
      }

      .statistic-row {
        display: flex;
        flex-flow: row;
        justify-content: space-between;
      }
    }
  }

  .information-column {
    flex-grow: 1;
    display: flex;
    flex-flow: column;
  }

  .description-box {
    margin: 0 auto 1rem;
    width: 90%;
    height: 10rem;
    text-align: justify;

    .page-header {
      position: relative;
      font-size: 1.25rem;
      padding: 0.5rem;

      .icon-edit {
        width: 1.2rem;
        height: 1.2rem;
        fill: $primaryDark;
        cursor: pointer;
        position: absolute;
        bottom: .5rem;
        right: .5rem;
        visibility: hidden;
      }
    }

    .page-header:hover {
      .icon-edit {
        visibility: visible;
      }
    }
  }

  .switch-box {
    width: 100%;
    margin: 0 auto;
    width: 90%;
    display: flex;
    flex-flow: column;

    .switch-body {
      height: 27.5rem;
      display: flex;
      flex-flow: row wrap;
      overflow: auto;
      justify-content: center;

      .box {
        margin: 0.5rem 0.5rem;
        width: 10rem;
        height: 10rem;
        background-color: $primaryBrass;
      }

      .photos {
        padding: .5rem;
        display: flex;
        flex-flow: row wrap;

        .profile-photo {
          margin: .5rem;;
          width: 10em;
          height: 10rem;
          object-fit: cover;
        }
      }

      .dog-card {
        position: relative;
        margin: auto;
        width: 20rem;
        height: 7rem;
        background-color: $primaryBrass;
        border-radius: 5px;
        box-shadow: $shadow;
        display: flex;
        flex-flow: row wrap;
        justify-content: space-around;
        align-items: center;
        margin: 1rem;

        .card-container {
          text-align: center;
          color: $primaryLight;
        }

        .photo {
          width: 5rem;
          height: 5rem;
          box-shadow: $shadow;
          border-radius: 10rem;
          object-fit: cover;
        }

        .text-1 {
          font-size: 2rem;
          font-weight: bold;
        }

        .text-2 {
          font-size: 1.5rem;
        }

        .icon {
          width: 2rem;
          height: 2rem;
          fill: $primaryLight;
          transition: 0.2s ease;
          cursor: pointer;
        }

        .icon:hover {
          fill: $primaryDark;
        }
      }

      .comment-box {
        margin: 0.5rem 0;
        display: flex;
        flex-flow: row;
        border-radius: 5px;
        box-shadow: $shadow;
        height: 8rem;
        background-color: white;

        .comment-row {
          display: flex;
          flex-flow: row;
          justify-content: space-between;
          align-items: center;
        }

        .comment-info {
          margin: 0 0.5rem;
          width: 15rem;
          display: flex;
          flex-flow: column;
          justify-content: center;
          align-items: center;

          .avatar {
            width: 5rem;
            height: 5rem;
            background-color: black;
            border-radius: 10rem;
          }
          .text-1 {
            font-weight: bold;
          }
        }

        .comment-body {
          margin: 0 0.5rem;
          .rating {
            color: $primaryBrass;
            font-size: 2rem;
          }
          .text-2 {
            text-align: center;
            color: gray;
            font-style: italic;
          }
        }
      }
    }

    .buttons {
      height: 3rem;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
      align-items: center;
      border-bottom: 1px solid $primaryDark;


    }
  }

  .settings {
    position: relative;
    display: flex;
    flex-flow: row;
    background-color: red;
    height: 100%;
    width: 100%;
    justify-content: space-evenly;

    .column {
      width: 20%;
      height: 20rem;
      background-color: #1d861f;

      .page-header {
        font-size: 1rem;
        padding: .5rem;
      }

    }

    .buttons {
      position: absolute;
      right: 0;
      top: 0;

      .icon {
        fill: $primaryDark;

      }
    }
  }
}

// OWNER
ktbz-dog-creator {
  .main-container {
    position: relative;
    flex-grow: 1;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;

    .form-error {
      position: absolute;
      padding: 1rem;
      right: 1rem;
      bottom: 1rem;
      width: 20rem;
      height: fit-content;
      background-color: $error;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      border-radius: 5px;
      box-shadow: $shadow;
    }
    .form-error-field {
      margin: .5rem 0;
      font-weight: bold;
      color: $primaryLight;
    }
  }

  .description-form {
    width: 150rem;
    form {
      textarea {
        width: 90%;
      }
    }

  }

  .creator-form {
    width: 45%;

    form {
      width: 80%;
      margin-inline: auto;
    }

    .page-header {
      font-size: 1rem;
      padding: 0.5rem;
    }

    input[type="text"],
    input[type="file"],
    input[type="time"],
    select,
    option {
      width: 100%;
      height: 2rem;
      font-size: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      box-shadow: $shadow;
    }

    textarea {
      width: 100%;
      height: 5rem;
      font-size: 1rem;
      margin-top: 0.5rem;
      margin-bottom: 0.5rem;
      box-shadow: $shadow;
    }

    input[type="file"]::file-selector-button {
      padding-inline: 5%;
      height: 2rem;
      font-size: 1rem;
      box-shadow: $shadow;
    }

    .button {
      background-color: $primaryBrass;
    }

    .button-disabled {
      background-color: rgba($primaryBrass, 0.7);
    }

    .button:hover {
      background-color: rgba($primaryBrass, 0.5);
    }

    .dog-photo {
      display: flex;
      justify-content: space-between;
      margin-top: 0.7rem;
      margin-bottom: 0.7rem;

      input[type="file"] {
        align-self: center;
        margin-inline: 0;
        width: 80%;
      }

      .avatar {
        height: 5rem;
        width: 5rem;
        background-color: $primaryLight;
        border-radius: 5px;
        box-shadow: $shadow;
      }

      .photo {
        height: 5rem;
        width: 5rem;
        border-radius: 5px;
        object-fit: cover;
      }
    }
  }
}

ktbz-walk,
ktbz-dog {
  .walk-header {
    background-color: $primaryBrass;
    color: $primaryLight;
    font-size: 3rem;
    font-weight: bold;
    padding: 2rem;
    text-align: center;
    border-radius: 5px;
    box-shadow: $shadow;
  }

  .dog-photo {
    position: absolute;
    left: 1.5rem;
    top: 1.5rem;
    width: 10rem;
    height: 10rem;
    object-fit: cover;
    border-radius: 55rem;
  }

  .container {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;
  }

  .main-container {
    flex-grow: 1;
    align-items: stretch;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-around;
  }

  .column {
    padding-top: 2.5rem;
    // background-color: red;
    width: 35rem;

    .page-header {
      font-weight: bold;
      font-size: 1.5rem;
      padding: 0.25rem 0.75rem;
      // border-bottom: 1px solid $primaryDark;
    }

    .icon {
      width: 1.5rem;
      height: 1.5rem;
      fill: $primaryDark;
    }

    .text-1 {
      font-weight: bold;
      padding: 0 0.75rem;
      display: flex;
      flex-direction: row;
      align-items: center;
    }

    .height {
      min-height: 10rem;
    }

    .text-2 {
      font-size: 1rem;
      padding: 0.75rem;
      color: $primaryDark;
      text-align: justify;
    }

    .map,
    .walk {
      margin: 0.5rem;
      border-radius: 5px;
      background-color: $primaryLight;
      box-shadow: $shadow;
    }

    .walk {
      cursor: pointer;
      transition: 0.5s ease;
    }

    .walk:hover {
      background-color: $secondaryTeal;
    }
  }
}

ktbz-walk-planner {
  .container {
    position: relative;
    .form-error {
      position: absolute;
      padding: 1rem;
      right: 1rem;
      bottom: 1rem;
      width: 20rem;
      height: fit-content;
      background-color: $error;
      display: flex;
      flex-direction: column-reverse;
      justify-content: center;
      border-radius: 5px;
      box-shadow: $shadow;
    }
    .form-error-field {
      margin: .5rem 0;
      font-weight: bold;
      color: $primaryLight;
    }
  }



  .main-container {
    width: 40%;
    margin-inline: auto;

    .page-header {
      font-size: 1rem;
      padding: 0.5rem;
    }

    .map {
      width: 100.5%;
      background-color: $primaryLight;
      border-radius: 5px;
      box-shadow: $shadow;
      height: 12rem;
    }
  }

  .dog-container {
    display: flex;
    flex-flow: row;
  }

  input[type="text"],
  input[type="datetime-local"] {
    width: 100%;
    height: 2rem;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    box-shadow: $shadow;
  }

  textarea {
    width: 100%;
    height: 5rem;
    font-size: 1rem;
    margin-top: 0.7rem;
    margin-bottom: 0.7rem;
    box-shadow: $shadow;
  }

  .button {
    background-color: $primaryBrass;
  }

  .button-disabled {
    background-color: rgba($primaryBrass, 0.7);
  }

  .button:hover {
    background-color: rgba($primaryBrass, 0.5);
  }

  .dog {
    margin: 0.25rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba($primaryBrass, 0.7);
    border-radius: 6rem;
    cursor: pointer;
    transition: 0.5s ease;
    object-fit: cover;
    opacity: 0.7;
  }
  .dog:hover {
    opacity: 1;
  }

  .dog-selected {
    margin: 0.25rem;
    width: 4rem;
    height: 4rem;
    background-color: rgba($primaryBrass, 1);
    border-radius: 6rem;
    cursor: pointer;
    transition: 0.5s ease;
    opacity: 1;
    object-fit: cover;
  }
}

// SITTER
ktbz-dog-walks {
  .container {
    position: relative;
    display: flex;
    flex-flow: column;
    width: 100%;
    height: 100%;

    .button {
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin: 0;
      // width: 1%;
      height: 2.5rem;
      padding: 0 0.5rem;
    }
  }

  .main-container {
    flex-grow: 1;
    align-items: stretch;
    // flex: 1 0 0;
    // height: -webkit-fill-available;
    margin: 1rem;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
    // background-color: red;
  }

  .menu {
    background-color: $primaryLight;
    border-radius: 5px;
    box-shadow: $shadow;
    width: 20rem;
    // height: 100%;
  }

  .all-view,
  .incoming-view {
    margin: auto;
    width: 50rem;
    flex: 1 0 0;
    height: 46rem;
    display: flex;
    flex-flow: row wrap;
    overflow-y: scroll;
    justify-content: flex-start;
  }

  .all-view::-webkit-scrollbar {
    width: 0.2rem;
  }

  .all-view::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }

  .incoming-view::-webkit-scrollbar {
    width: 0.2rem;
  }

  .incoming-view::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }
}

ktbz-dog-card {
  .dog-card {
    position: relative;
    margin: 0.5rem;
    width: 20rem;
    height: 25rem;
    border-radius: 5px;
    box-shadow: $shadow;

    .dog-photo {
      width: 100%;
      height: 100%;
      border-radius: 5px;
      object-fit: cover;
      box-shadow: $shadow;
    }

    .dog-info {
      position: absolute;
      bottom: 2rem;
      left: 0.5rem;
    }

    .text-1 {
      font-weight: bold;
      font-size: 2rem;
      color: $primaryLight;
      text-shadow: $shadowText;
    }

    .text-2 {
      font-weight: bold;
      font-size: 1.2rem;
      color: $primaryLight;
      text-shadow: $shadowText;
    }

    .text-3 {
      font-weight: bold;
      font-size: 1rem;
      color: $primaryLight;
      text-shadow: $shadowText;
    }

    .buttons-blur {
      filter: blur(6px);
      width: 70%;
      margin-inline: 15%;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .icon {
        fill: $primaryDark;
        outline: none;
        cursor: pointer;
        width: 1.7rem;
        height: 1.7rem;
        transition: 0.2s ease;
      }
    }

    .buttons {
      width: 70%;
      margin-inline: 15%;
      position: absolute;
      bottom: 0;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;

      .icon {
        fill: $primaryLight;
        outline: none;
        cursor: pointer;
        width: 1.7rem;
        height: 1.7rem;
        transition: 0.2s ease;
      }

      .icon:hover {
        fill: $secondaryDark;
      }
    }

    .icon {
      fill: $primaryDark;
      width: 1.5rem;
      height: 1.5rem;
    }
  }
}

// PLANNER
ktbz-planner {
  .container {
    position: relative;
    .buttons {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin: 0;
      height: 2.5rem;
      padding: 0 0.5rem;

      .text-2 {
        font-size: 1.5rem;
        margin-right: 2rem;
      }

      .icon {
        cursor: pointer;
        fill: $primaryDark;
        width: 2.5rem;
        height: 2.5rem;
      }
    }
  }

  .calendar {
    flex-grow: 1;
    margin: 1rem;
    display: grid;
  }

  .weeks {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  }

  .week-view {
    flex-grow: 1;
    margin: 1rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;

    .walks {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;

      .walk-card {
        background-color: $secondaryLight;
        margin: 0.5rem;
        padding: 0.5rem;
        border-radius: 5px;
        box-shadow: $shadow;

        .header {
          display: flex;
          flex-direction: row;
          justify-content: space-between;
        }

        .photo {
          width: 3rem;
          height: 3rem;
          border-radius: 3rem;
          object-fit: cover;
        }

        .text-1 {
          margin: 0 auto;
          font-size: 1.2rem;
          align-self: center;
          font-weight: bold;
        }

        .text {
          margin: 0 1rem;
        }

        .text-2 {
          margin: 0.25rem 0.5rem;
          display: flex;
          flex-direction: row;
          justify-content: flex-start;
        }

        .icon {
          outline: none;
          cursor: pointer;
          margin: 0 auto;
          width: 1.7rem;
          height: 1.7rem;
        }
      }
    }

    .date {
      width: 100%;
      background-color: $primaryBrass;
      color: $primaryLight;
      font-weight: bold;
      text-align: center;
      border-radius: 5px 5px 0 0;
    }

    .day {
      height: 97%;
      // flex-grow: 1;
      display: flex;
      margin: 0.5rem;
      flex-flow: column;
      box-shadow: $shadow;
      border-radius: 5px;
    }

    .today {
      height: 97%;
      display: flex;
      margin: 0.5rem;
      flex-flow: column;
      box-shadow: $shadow;
      border-radius: 5px;

      .date {
        background-color: $primaryTeal;
      }
    }

    .past-day {
      height: 97%;
      display: flex;
      margin: 0.5rem;
      flex-flow: column;
      box-shadow: $shadow;
      border-radius: 5px;
    }

    .walks {
      flex-grow: 1;
    }
  }

  .dog-photo {
    width: 3rem;
    height: 3rem;
    margin: 0.2rem;
    background-color: $primaryLight;
    border-radius: 4rem;
    cursor: pointer;
  }

  .photo {
    width: 3rem;
    height: 3rem;
    border-radius: 4rem;
    object-fit: cover;
  }

  .date {
    background-color: $primaryBrass;
    color: $primaryLight;
    font-weight: bold;
    text-align: center;
    border-radius: 5px 5px 0 0;
  }

  .walks {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    overflow-x: auto;
    justify-content: center;
    background-color: $primaryLight;
    height: 5rem;
    border-radius: 0 0 5px 5px;
  }

  .walks::-webkit-scrollbar {
    height: 0.2rem;
  }

  .walks::-webkit-scrollbar-thumb {
    background-color: $primaryDark;
    border-radius: 1rem;
  }

  .day {
    margin: 0.5rem;
    box-shadow: $shadow;
    border-radius: 5px;
  }

  .today {
    margin: 0.5rem;
    box-shadow: $shadow;
    border-radius: 5px;

    .date {
      background-color: $primaryTeal;
    }
  }

  .past-day {
    margin: 0.5rem;
    box-shadow: $shadow;
    opacity: 0.5;
    border-radius: 5px;
  }
}

ktbz-dogs {
  .container {
    position: relative;
    .buttons {
      user-select: none;
      display: flex;
      flex-direction: row;
      align-items: center;
      position: absolute;
      right: 1rem;
      top: 1rem;
      margin: 0;
      height: 2.5rem;
      padding: 0 0.5rem;

      .text-2 {
        font-size: 1.5rem;
        margin-right: 2rem;
      }

      .icon {
        cursor: pointer;
        fill: $primaryDark;
        width: 2.5rem;
        height: 2.5rem;
      }
    }

    .main-container {
      overflow-y: scroll;
    }

    .main-container::-webkit-scrollbar {
      width: 1rem;
    }

    .main-container:-webkit-scrollbar-thumb {
      background-color: $primaryDark;
      border-radius: 1rem;
    }

    .row {
      display: flex;
      flex-flow: row;
      justify-content: space-between;
      align-items: center;
      margin: .5rem 2rem;
      padding: .5rem 0;
      border-bottom: 1px solid $primaryDark;
      user-select: none;

      .image {
        width: 5rem;
        height: 5rem;
        object-fit: cover;
        border-radius: 5px;
      }

      .text-1 {
        font-size: 1.2rem;
        font-weight: bold;
        width: 15rem;
        text-align: center;
      }

      .marker-taken {
        width: 1rem;
        height: 1rem;
        border-radius: 2rem;
        background-color: $error;
        box-shadow: $shadow;
      }

      .marker-available {
        width: 1rem;
        height: 1rem;
        border-radius: 2rem;
        background-color: $success;
        box-shadow: $shadow;
      }

      .icon {
        margin: 0 .25rem;
        width: 1.7rem;
        height: 1.7rem;
        fill: $primaryDark;
        cursor: pointer;
        outline: none;
        transition: 0.2s ease;
      }
      .icon:hover {
        fill: $primaryTeal;
      }
    }
  }
}

// ADMIN

