.sidebar {
  width: 4.5rem;
  height: 100vh;
  background-color: #65858C;

  hr {
    border: 1px solid #99ACB1;
  }
}

.logo {
  background: url('http://localhost:8080/utility_images/logo');
  background-size: cover;
  margin-inline: .25rem;
  width: 4rem;
  height: 4rem;
}

.avatar {
  margin-inline: .5rem;
  width: 3.5rem;
  height: 3.5rem;
  background-color: aliceblue;
}

.logout-button {
  display: flex;
  background-color: #BF9D8A;
  height: 2.5rem;
  width: 3rem;
  border-radius: 5px;
  margin-inline: auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
  justify-content: center;
  transition: .2s ease;
  cursor: pointer;
}

.logout-button:hover {
  background-color: #e2cec2;
}

.repo {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}
