<div class="container">
  <div class="button" (click)="changeView()">
    {{currentView}}
  </div>

  <div class="page-header">
    Spacery
  </div>
  <div class="main-container">
    <div class="menu" *ngIf="allView">
    </div>

    <div class="all-view" *ngIf="allView">
      <div *ngFor="let walkInfo of allWalks">
        <ktbz-dog-card [walkInfo]="walkInfo">

        </ktbz-dog-card>

      </div>
    </div>

    <div class="incoming-view" *ngIf="!allView">
      <div *ngFor="let walkInfo of sitterWalks">
        <ktbz-dog-card [walkInfo]="walkInfo">

        </ktbz-dog-card>
      </div>
    </div>
  </div>
</div>
