<div class="ktbz-container">
  <div class="button" (click)="changeView()">
    {{currentView}}
  </div>

  <div class="page-header">
    Spacery
  </div>
  <div class="main-container">
    <!-- <div class="menu" *ngIf="allView">
    </div> -->
    <div class="all-view" *ngIf="allView">
      <div *ngFor="let walkCard of allWalks">
        <ktbz-dog-card [walkCard]="walkCard"(actionEmitter)="getActionEvent()">

        </ktbz-dog-card>

      </div>
    </div>

    <div class="incoming-view" *ngIf="!allView">
      <div *ngFor="let walkCard of sitterWalks">
        <ktbz-dog-card [walkCard]="walkCard" (actionEmitter)="getActionEvent()">

        </ktbz-dog-card>
      </div>
    </div>
  </div>
</div>
